<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Tienda de Cartas</title>
  <link rel="stylesheet" href="public/css/style.css" />
  <link rel="stylesheet" href="public/css/home.css" />
</head>
<body>
  <!-- Menú -->
  <header id="menu-app"></header>

  <!-- Resto de la app -->
  <section id="app" class="buscador">
    <form id="searchForm">
      <input type="text" name="nombre" placeholder="Nombre de la carta" />
      <input type="number" name="precioMin" placeholder="Precio mínimo" min="0" step="0.01" />
      <input type="number" name="precioMax" placeholder="Precio máximo" min="0" step="0.01" />
      <input type="text" name="usuario" placeholder="Usuario" />

      <select name="juego">
        <option value="">Todos los juegos</option>
        <option value="pokemon">Pokémon</option>
        <option value="yugioh">Yu-Gi-Oh!</option>
      </select>

      <button>Buscar</button>
    </form>

    <section class="productos">
      <a v-for="carta in listaDePublicaciones" class="producto" :href="`/publicacion/${carta.id}`">
        <img src="img/carta1.jpg" :alt="`Carta de ${carta.cartaOfrecida.nombre}`" />
        <h2>{{ carta.cartaOfrecida.nombre }}</h2>
        <p>{{ carta.cartaOfrecida.juego }}</p>
        <span>$ {{ carta.precio }}</span>
      </a>
    </section>

    <h3> {{sinDatos}}</h3>

  </section>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="public/js/menu.js"></script>
  <script src="public/js/home.js"></script>
</body>
</html>
