<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Tienda de Cartas</title>
  
  <link href="/public/img/Icon.png" rel="shortcut icon" type="image/png"/>

  <link rel="stylesheet" href="/public/css/menu.css" />
  <link rel="stylesheet" href="/public/css/flotante.css" />
  <link rel="stylesheet" href="/public/css/home.css" />
</head>
<body>
  <!-- Menú -->
  <header id="menu-app"></header>
  <!-- Flotante asqueroso -->
  <div id="datos-f"></div>

  <!-- Resto de la app -->
  <section id="app" class="buscador" v-cloak>
    <form id="searchForm">
      <input v-model="datosBuscador.nombre" type="text" name="nombre" placeholder="Nombre de la carta" />
      <input v-model="datosBuscador.preciomin" type="number" name="preciomin" placeholder="Precio mínimo" min="0" step="0.01" />
      <input v-model="datosBuscador.preciomax" type="number" name="preciomax" placeholder="Precio máximo" min="0" step="0.01" />
      <input v-model="datosBuscador.usuario" type="text" name="usuario" placeholder="Usuario" />

      <select name="juego">
        <option value="">Todos los juegos</option>
        <option value="Magic">Magic</option>
        <option value="Pokémon">Pokémon</option>
        <option value="Yu-Gi-Oh!">Yu-Gi-Oh!</option>
      </select>

      <button>Buscar</button>
    </form>

    <section class="productos">
      <a v-for="carta in listaDePublicaciones" class="producto" :href="`/publicacion/${carta.id}`">
      <img
        v-if="carta.cartaOfrecida.imagenes && carta.cartaOfrecida.imagenes.length"
        :src="carta.cartaOfrecida.imagenes[0]"
        @error="manejarErrorImagen"
        :alt="`Carta de ${carta.cartaOfrecida.nombre}`"
        style="max-width:120px;max-height:120px;"
      />
        <h2>{{ carta.cartaOfrecida.nombre }}</h2>
        <p>{{ carta.cartaOfrecida.juego }}</p>
        <span>$ {{ carta.precio }}</span>
      </a>
    </section>

    <h3> 
      {{estadoDeLaCarga}} 
    </h3>

  </section>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script type="module" src="public/js/menu.js"></script>
  <script type="module" src="/public/js/flotante.js"></script>
  <script type="module" src="public/js/home.js"></script>
</body>
</html>
