<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Iniciar Sesión</title>
    <link href="/public/img/Icon.png" rel="shortcut icon" type="image/png"/>
    <link rel="stylesheet" href="/public/css/menu.css" />
    <link rel="stylesheet" href="/public/css/flotante.css" />
    <link rel="stylesheet" href="public/css/auth-form.css" />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>

    <header id="menu-app"></header>
    <div id="datos-f"></div>

    <section id="loginApp" class="container" v-cloak>
      <form @submit.prevent="handleLogin">
        <input type="text" v-model="user" placeholder="Usuario" required/>
        <input type="password" v-model="password" placeholder="Contraseña" required/>
        
        <button type="submit">Entrar</button>
        <p class="error" v-show="error">{{ error }}</p>
      </form>
    </section>

    <script type="module" src="public/js/menu.js"></script>
    <script type="module" src="/public/js/flotante.js"></script>
    <script type="module" src="public/js/login.js" defer></script>

  </body>
</html>
