<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Ofertas de la Publicación</title>
    <link href="/public/img/Icon.png" rel="shortcut icon" type="image/png" />

    <link rel="stylesheet" href="/public/css/menu.css" />
    <link rel="stylesheet" href="/public/css/auth-user.css" />
    <link rel="stylesheet" href="/public/css/slide.css" />
    <link rel="stylesheet" href="/public/css/flotante.css" />
    <link rel="stylesheet" href="/public/css/ofertas.css" />
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <header id="menu-app"></header>
    <div
      id="user-certification"
      data-texto="Acá seguro que no tenés que estar"
    ></div>
    <div id="datos-f"></div>

    <main id="app" v-cloak>
      <section
        style="text-align: center"
        v-if="!usuarioEsElPublicador || ofertas.length === 0"
      >
        <h4>{{ explicacion }}</h4>
      </section>

      <section v-else class="ofertas">
        <h2>Cantidad de ofertas totales: {{ofertas.length}}</h2>
        <div class="oferta" v-for="(oferta,index) in ofertas" :key="oferta.id">
          <h3>Oferta #{{ index + 1 }} - {{ formatearFecha(oferta.fecha) }}</h3>
          <p>
            <strong>Monto:</strong> {{ oferta.monto ? '$' + oferta.monto : 'Sin monto' }}
          </p>
          <p>
            <strong>Estado: </strong>
            <span :class="oferta.estado !== 'RECHAZADO' ? 'pendiente' : 'finalizado'">
              {{ oferta.estado }}
            </span>
          </p>

          <p><strong>Cartas en disposición del ofertante: </strong></p>
          <div class="cartas">
            <div class="carta" v-for="cartaInteresPublicacion in publicacionDeOrigen.cartasInteres">
              <!-- Por ahora lo dejo así, después se puede agregar/sacar cosas o directo cambiarlo  -->
              <div class="overlay rechazado" v-show="ofertaContieneCarta(oferta, cartaInteresPublicacion)">
                <p>No disponible</p>
              </div>


              <h3>Carta: {{ cartaInteresPublicacion.nombre }}</h3>
              <p><strong>Juego:</strong> {{ cartaInteresPublicacion.juego }}</p>
              <p><strong>Estado:</strong> {{ cartaInteresPublicacion.estado }}</p>
              <!-- ACÁ ESTÁ LA CONFIRMACIÓN DE QUE SI UNA CARTA ESTÁ EN LA OFERTA -->
              
              <div class="slider-container" data-slider>
                <div class="slider">
                  <div class="slide" v-for="(img, index) in cartaInteresPublicacion.imagenes" :key="index">
                    <img :src="img" :alt="`Imagen ${index + 1}`" @error="manejarErrorImagen" />
                  </div>
                </div>

                <button v-show="cartaInteresPublicacion.imagenes.length > 1" class="nav prev">‹</button>
                <button v-show="cartaInteresPublicacion.imagenes.length > 1"class="nav next">›</button>
              </div>
            </div>
          </div>

          <div class="acciones" v-if="oferta.estado === 'PENDIENTE'">
            <button @click="aceptarOferta(oferta.id)">Aceptar</button>
            <button @click="rechazarOferta(oferta.id)">Rechazar</button>
          </div>
        </div>
      </section>
    </main>

    <script type="module" src="/public/js/ofertas.js"></script>
    <script type="module" src="/public/js/menu.js"></script>
    <script type="module" src="/public/js/flotante.js"></script>
    <script type="module" src="/public/js/user-certification.js" defer></script>
  </body>
</html>
