<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Visualizar Publicación</title>
    <link rel="stylesheet" href="/public/css/menu.css">
    <link rel="stylesheet" href="public/css/flotante.css" />
    <link rel="stylesheet" href="/public/css/publicacion.css">
  </head>
  <body>
    <header id="menu-app"></header>
    <div id="datos-f"></div>

    <div id="app"> 
      <!-- VISTA DE LA PUBLICACIÓN -->
    
      <main v-if="publicacion" class="detalle-publicacion" v-cloak>
        <div class="carta-ofrecida">
            <div class="info-principal">
            <h2>{{ publicacion.cartaOfrecida.nombre }}</h2>
            <h3><strong>Juego:</strong> {{ publicacion.cartaOfrecida.juego }}</h3>
            <p><strong>Descripción:</strong> {{ publicacion.descripcion }}</p>
            <div class="imagenes">
              <img v-for="(img, idx) in publicacion.cartaOfrecida.imagenes" :key="idx" :src="`${img}`" alt="Imagen carta ofrecida" />
            </div>
          </div>
          <div class="info-secundaria">
            <p><strong>Estado:</strong> {{ publicacion.cartaOfrecida.estado }}</p>
            <p><strong>Fecha:</strong> {{ formatearFecha(publicacion.fecha) }}</p>
            <p v-if="publicacion.precio"><strong>Precio:</strong> ${{ publicacion.precio }}</p>
            <p><strong>Estado:</strong> <span :class="publicacion.estado == 'ACTIVA' ? 'activo' : 'finalizado'">{{ publicacion.estado }}</span></p>
            <a class="btn-principal" :href="'/publicacion/' + publicacion.id + '/ofertas'" >Ver ofertas</a>
          </div>
        </div>
      
        <hr>
    
        <div v-if="publicacion.cartasInteres && publicacion.cartasInteres.length" class="cartas-interes">
          <h3>Cartas de interés</h3>
            <div class="carta" v-for="(carta, i) in publicacion.cartasInteres" :key="i">
              <p>Nombre de la carta: <strong>{{ carta.nombre }}</strong> </p>
              <p>Juego: {{ carta.juego }}</p>
              <p>Estado: {{ carta.estado }}</p>
              <div class="imagenes">
                <img v-for="(img, j) in carta.imagenes" :key="j" :src="`/uploads/${img}`" alt="Imagen carta interés" />
              </div>
            </div>
        </div>
      </main>

      <div v-else class="cargando">
        Cargando publicación...
      </div> 
      
      <!-- VISTA DE UNA OFERTA -->
      <form v-if="formVisible" @submit.prevent="submitForm" class="formulario-oferta">
        <h3>OFERTA</h3>
        <div class="grupo-form">
          <label for="price"><strong>Precio a ofertar: ($)</strong></label>
          <input
            min="0"
            type="number"
            v-model="nuevaOferta.precio"
            id="price"
            placeholder="Ej: 100"
            class="input-text"
          />
        </div>
        
        <div v-if="publicacion.cartasInteres.length">
          <label for="nuevaOferta.cartasSeleccionadas"><strong>Carta ofrecida (de las cartas de interés)</strong></label>
          <div id="cartasSeleccionadas">
            <div>
              <div class="checkbox-wrapper" v-for="(carta, index) in publicacion.cartasInteres" style="width: auto;">
                <input type="checkbox" :id="index" :value="index" v-model="nuevaOferta.cartasSeleccionadas"/>
                <label :for="index">{{ carta.nombre }}</label>
              </div>
            </div>

            
            <div id="listaDeSeleccionadas">
              <label>Cartas seleccionadas: </label>
              <label v-for="(cartaSeleccionada, index) in nuevaOferta.cartasSeleccionadas"> 
                {{publicacion.cartasInteres[index].nombre}}
              </label>
            </div>
          </div>
        </div>
        
        <button type="submit" class="btn-principal">Enviar Oferta</button>
      </form>
    </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/public/js/publicacion.js"></script>
    <script type="module" src="public/js/flotante.js"></script>
    <script type="module" src="/public/js/menu.js"></script>
  </body>
</html>
