<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Cuenta</title>
    <link href="/public/img/Icon.png" rel="shortcut icon" type="image/png"/>


    <link rel="stylesheet" href="/public/css/menu.css" />
    <link rel="stylesheet" href="/public/css/auth-user.css" />
    <link rel="stylesheet" href="/public/css/paginacion.css" />
    <link rel="stylesheet" href="/public/css/usuario.css" />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
  </head>
  <body>
      <header id="menu-app"></header>
      
      <div id="user-certification" data-texto="Para continuar necesitás iniciar sesión o registrarte."></div>
      
      
      <section id="app" v-cloak class="contenedor">
        
        <div class="app" v-show="usuario.user">
          
          <h2 
            v-show="contenidoCargado != 1" 
            :style="{ color: contenidoCargado === 2 ? 'red' : 'inherit' }"
          >
            {{ contenidoCargado === 2 ? 'Error con el servidor' : 'Cargando datos' }}
          </h2>          
          
          <h3>Usuario actual: {{usuario.user}}</h3>
          <!-- PUBLICACIONES -->
          <h3>Tus Publicaciones: {{publicacionesTotales}}</h3>
          <section class="cartas">
            <a v-for="carta in publicacionesCargadas" class="carta" :href="`/publicacion/${carta.id}`">
              <img
                v-if="carta.cartaOfrecida.imagenes && carta.cartaOfrecida.imagenes.length"
                :src="carta.cartaOfrecida.imagenes[0]"
                :alt="`Carta de ${carta.cartaOfrecida.nombre}`"
                
                @error="manejarErrorImagen"
                style="max-width:120px;max-height:120px;"
              />
              <h2>{{ carta.cartaOfrecida.nombre }}</h2>
              <p>{{ carta.cartaOfrecida.juego }}</p>
              <span>$ {{ carta.precio }}</span>
            </a>
          </section>

          <!-- Paginación de publicaciones -->
          <pagination 
            v-if="paginasTotales > 1"
            :total-pages="paginasTotales" 
            v-model="paginaActual"
          ></pagination>

          <!-- OFERTAS -->
          <h3>Tus Ofertas: {{ofertas.length}}</h3>
          <div class="lista">
            <div class="item" v-for="oferta in ofertas" :key="oferta.id">
              <p>Oferta para publicación ID: {{ oferta.idPublicacion }}</p>
              <p v-if="oferta.monto">Monto ofrecido: ${{ oferta.monto }}</p>
              <p>Estado: {{ oferta.estado }}</p>
              <div v-if="oferta.cartasOfrecidas.length">
                <p>Cartas ofrecidas:</p>
                <ul>
                  <li v-for="carta in oferta.cartasOfrecidas" :key="carta.nombre">
                    {{ carta.nombre }} ({{ carta.juego }}) - {{ carta.estado }}
                  </li>
                </ul>
              </div>
            </div> <!-- Ricas cadenas de divs -->
          </div>



        </div>
      </section>

    <script type="module" src="public/js/menu.js"></script>
    <script type="module" src="/public/js/flotante.js"></script>
    <script type="module" src="/public/js/usuario.js" defer></script>
    <script type="module" src="/public/js/user-certification.js" defer></script>

  </body>
</html>
