.formulario-publicacion {
    background-color: #fff;
    padding: 2em;
    margin: 1em auto;
    margin-top: 1em;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.formulario-publicacion form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.formulario-publicacion label {
    font-weight: bold;
    margin-bottom: 0.25em;
}

.formulario-publicacion input,
.formulario-publicacion textarea,
.formulario-publicacion select,
.formulario-publicacion button {
    padding: 0.75em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.formulario-publicacion button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

#cartasInteres {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border-top: 1px solid #ddd;
}

.carta-interes {
    border: 1px solid #828282;
    padding: 1em;
    background-color: #fafafa;
    position: relative;
    background-color: rgb(240, 240, 240);
}

.carta-interes button {
    background-color: #e53935;
    margin-top: 1em;
    padding: 0.5em;
}

pre#resultado {
    background: #f4f4f4;
    padding: 1em;
    margin-top: 2em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#cargando{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    align-content: center;
}

#cargando div{
    background-color: #fff;
    padding: 1em;
    margin: 1em auto;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
}

#cargando img{
    width: 300;
}

@media (max-width: 600px) {
    .formulario-publicacion {
        padding: 1em; 
        margin: 1em; 
        max-width: 100%; 
        box-sizing: border-box;
    }

    .formulario-publicacion form {
        gap: 0.75em; 
    }

    .formulario-publicacion input,
    .formulario-publicacion textarea,
    .formulario-publicacion select,
    .formulario-publicacion button {
        padding: 0.5em; 
    }

    #cartasInteres {
        gap: 1em; 
    }

    .carta-interes {
        padding: 0.75em; 
    }

    pre#resultado {
        padding: 0.75em; 
    }

    #cargando div{
        width: 85%;
        margin: 0 auto;
    }

    #cargando img{
        width: 80%;
        margin: 0 auto;
    }
}