main {
    width: 800px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    
  overflow-wrap: break-word; /* Texto para que nombres muy largos no rompan el poderoso flex*/
  word-break: break-word;
}

.ofertas {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.ofertas h2{
    margin-top: 1em;
    margin-bottom: 0;
}

.oferta {
    background: white;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 8px;
    width: 800px;
}

.oferta h3{
    margin: 0;
    font-size: 20px;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
}

.carta {
    position: relative;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 6px;
    width: 44%;
    margin: 0 auto;
}

.carta h3,
.carta p{
    margin: .5em;
}

.acciones {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.acciones button {
    margin-right: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 48%; 
    margin-left: auto;
    margin-right: auto;

}

.acciones button:first-child {
    background-color: #28a745;
    color: white;
}

.acciones button:last-child {
    background-color: #dc3545;
    color: white;
}

.pendiente {
    font-weight: bold;
    color: green;
}
  
.finalizado {
    font-weight: bold;
    color: red;
}

.overlay{
    position: absolute;      
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;      
    z-index: 9999;
    border-radius: 6px;
}

.overlay.rechazado{
    background-color: rgba(255, 0, 0, .5);
    align-content: center;
    text-align: center;
    pointer-events: auto;
}
  
.overlay.aceptado{
    background-color: rgba(0, 255, 0, .5);
}
  
.overlay.rechazado p{
    transform: rotate(43deg);
    font-size: 60px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    user-select: none;
} 

@media (max-width: 850px) {
    main{
        width: 95%;
    }

    .oferta{
        width: 100%;
    }

    .ofertas{
        width: 100%;
        align-items: center;
    }

    .carta{
        width: 100%;
    }
}
