.detalle-publicacion {
  background: white;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.carta-ofrecida {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
}

.info-principal {
  flex: 1;
  display: block;
  align-content: center;
  overflow-wrap: break-word; /* Texto para que nombres muy largos no rompan el poderoso flex*/
  word-break: break-word;
}

.info-principal h2, 
.info-principal h3, 
.info-principal p{
  margin-top: 0;
  margin-bottom: 1em;
  text-align: left;
}


.detalle-publicacion p{
  text-align: justify;
  white-space: pre-line;
}

.info-principal a {
  width: 80%;
  text-decoration: none;
  display: grid;
  text-align: center;
  align-items: center;
}

.imagenes {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-top: 1em;
}

.imagenes img {
  max-height: 120px;
  border: 2px solid black;
  object-fit: contain;
}

.activo {
  font-weight: bold;
  color: green;
}

.finalizado {
  font-weight: bold;
  color: red;
}

.cartas-interes {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

.cartas-interes .carta {
  background: #f9f9f9;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 42%;
  margin: 0 auto;
}

.cartas-interes .imagenes {
  margin-top: 0.5em;
}

.cartas-interes .imagenes img {
  max-height: 100px;
  border: 1px solid #666;
}

.carta p{
  margin-top: 0;
  margin-bottom: 0.5em;
  overflow-wrap: break-word; 
  word-break: break-word;
}

#textoImagenes{
  display: none;
  text-align: center;
}

/* OFERTAS */

.formulario-oferta {
  padding: 1.5em;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  flex-direction: column;
  gap: 1.5em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: white;
}

form .carta-ofrecida {
  display: block;
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
  border: 1px solid #828282;
}

form h3{
  margin-top: 0;
}

.grupo-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input-text {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.vista-previa img {
  max-width: 100px;
  margin-top: 0.5em;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/*
.carta-ofrecida button {
  color: white;
  background-color: #e53935;
  margin-top: 1em;
  padding: 0.5em;
}
*/
.btn-principal,
.btn-secundario {
  width: 100%;
  padding: 0.6em 1.2em;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-principal {
  background-color: #333;
  color: white;
}

.btn-secundario {
  background-color: #eee;
  color: #333;
}

#cartasSeleccionadas {
  display: flex;
  margin-top: .7em;
  margin-bottom: .7em;
}

#cartasSeleccionadas div{
  width: 48%;
  padding: .5em;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

#cartasSeleccionadas #listaDeSeleccionadas{
  display:grid;
  border: 2px solid #9098A9;
  border-radius: 10px;
}

/* CHECKBOX LINDO */
.checkbox-wrapper input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper label {
  position: relative;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
  display: inline-flex;
}

.checkbox-wrapper label:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid #9098A9;
  border-radius: 6px;
  z-index: -1;
}

.checkbox-wrapper input[type=checkbox]:checked + label {
  padding-left: 1em;
  color: #0f5229;
}

.checkbox-wrapper label,
.checkbox-wrapper label::before {
  transition: 0.25s all ease;
}

.checkbox-wrapper input[type=checkbox]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: #b7e6c9;
  border-color: #2cbc63;
}


/* FIN DE OFERTAS */

@media (max-width: 810px) {  
  .info-principal a {
    /*text-align: center;*/
    width: 50%;
    margin: 0 auto;
    margin-top: .5em;
    padding: 0.6em 1.2em;
    
  }

  #textoImagenes{
    display: block;
  }

  .info-principal h2, 
  .info-principal h3, 
  .info-principal p{
    margin-top: 0;
    margin-bottom: 1ex;
    text-align: center;
  }

  .info-principal h2{
    font-size: 30px;
  }

  .carta-ofrecida {
    display: unset;
  }

  .cartas-interes .carta {
    width: 100%;
  }

  .detalle-publicacion, 
  .formulario-oferta{
    width: 90%;
    padding: .5em;
  }

  .checkbox-wrapper{
    text-align: center;
  }
}
