.app{
  background-color: #fff;
  padding: 1em 2em;
  margin: 1em auto;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.contenedor {
  margin: 1em;
}

.lista {
  margin-top: 1em;
}

.item {
  background: white;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.hayOferta{
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.cartas {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.carta {
    background-color: white;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s;
    position: relative;
}

.carta:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.carta img {
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: contain;
}

h3{
  font-size: 20px;
}

.item a {
  color: #1a73e8; /* azul sobrio y legible */
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 1px solid transparent;
}

.item a:hover {
  color: #1558b0;
  border-bottom: 1px solid #1558b0;
}